.footer {
    background-color: $light-green;
    color: $primary;
    .footer-top {
        padding-top: 30px;
    }
    .footer-logo {
        width: 172px;
        height: 27px;
    }
    @media (max-width: 767px) {
        .footer-info {
            margin-top: 48px;
        }
    }
    .footer-slogan {
        display: block;
        width: 60px;
        height: 219px;
    }
    .footer-bottom {
        margin-top: 30px;
        padding-bottom: 30px;
    }
    .social-item {
        width: 32px;
        height: 32px;
        margin-right: 8px;
    }
}